/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}
#plot,
body,
html
{
  height: 100%;
}
body {
  background-image: linear-gradient(
    45deg
    ,navy,darkgreen,coral,orange,beige,transparent);
    }
  background-size: cover;
  background-size: cover;
  background-size: cover;
