<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pints & Bikes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/iziModal.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="
  background-image: linear-gradient(45deg,navy,darkgreen,coral,transparent);
  height: 700px;">
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#">Welcome to Pints and Bikes!</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="http://127.0.0.1:5000/static/index.html">Home
                    <span class="sr-only"></span>
                </a>
            <li class="nav-item">
              <a class="nav-link" href="/static/map.html">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/3rdpage.html">Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li>
              <a class="btn btn-sm btn-outline-secondary" href="../scrape" style="margin-left:500px;" role="button">Refresh Articles</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container"></div>
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Latest Beverage or Bike News from Eater</h1>
        <h6 class="font-weight-light">If you hit "Refresh Articles" this is a good time to grab a beer because it could take a second!</h6>
          <hr>
          <ul>
            {% for object in eater.articles %}
            <li>
              <a href="{{ object.link | safe }}" target="_blank">{{ object.title | safe }}</a>
            </li>
            {% endfor %}
          </ul>
          <h1 class="font-weight-light">Nice Ride</h1>
          <hr>
          <ul>
            <li>
              <a href="" data-izimodal-open="#modal-youtube">Youtube - How to Nice Ride</a>
              <div id="modal-youtube" class="modal-video" data-izimodal-autoopen data-izimodal-transitionin="fadeInDown" data-izimodal-title="How to Nice Ride - Youtube Video" data-izimodal-iframeURL="https://www.youtube.com/embed/nrkX7zzc_zo"></div>
            </li>
            <li>
              <a href="https://www.niceridemn.com/explore" target="_blank">Explore the Minneapoolis Area on Two Wheels</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <script src="../static/js/iziModal.min.js" type="text/javascript"></script>
</body>

</html>